PORT=3000

DATABASE_URL="file:./dev.db"
# For PostgreSQL: postgresql://user:password@localhost:5432/farahmand
JWT_SECRET="your-secret-key-here"
ADMIN_EMAIL="admin@farahmand.dev"
ADMIN_PASSWORD="admin123"
